.transactionHistory {
  margin: 3vh auto;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 10px 15px;
  border-radius: 0.5vh;
}

.columnTable {
  padding: 25px 10px;
  width: 300px;  
  background-color: #1dbbcf;
  /* text-align: center; */
  font-size: 24px;
  text-transform: uppercase;  
  color: #fff;
}

.rowTable {
  height: 5vh;
  color: #7e7e7e;
  font-size: 28px;
  text-align: center;
  text-transform: capitalize;
}

.columnTable:first-child {
  border-top-left-radius: 0.5vh;
}

.columnTable:last-child {
  border-top-right-radius: 0.5vh;
}

/* .transaction:first-child {
  border-bottom-left-radius: 0.5vh;
} */

/* .transaction:last-child {
  border-bottom-right-radius: 0.5vh;
} */

.rowTable:nth-child(even) {
  background-color: #d0d0d0;
}
